<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<add key="globalPackagesFolder" value="NugetPackages\GlobalPackagesFolder" />
	</config>
	<packageSources>
		<clear />
		<add key="PublicPackageSource" value="NugetPackages\PublicPackageSource" />
		<add key="PrivatePackageSource" value="NugetPackages\PrivatePackageSource" />
		<add key="nuget" value="https://api.nuget.org/v3/index.json" />
	</packageSources>
	<packageSourceMapping>
		<packageSource key="PublicPackageSource">
			<clear />
			<package pattern="*" />
		</packageSource>
		<packageSource key="PrivatePackageSource">
			<clear />
			<package pattern="*" />
			<!--<package pattern="DigitalDiary.*" />-->
		</packageSource>
		<packageSource key="nuget">
			<package pattern="dotnet.reproduciblebuilds" />
			<package pattern="microsoft.*" />
			<package pattern="swashbuckle.aspnetcore" />
			<package pattern="swashbuckle.aspnetcore.swagger" />
			<package pattern="swashbuckle.aspnetcore.swaggergen" />
			<package pattern="swashbuckle.aspnetcore.swaggerui" />
		</packageSource>
	</packageSourceMapping>
</configuration>